@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
#################################################
This is part of the UI framework being developed.
#################################################
*/
$primary: #f4f7f8;
$primary0: #636983;
$border-radius: 20px;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

//SCROLL
*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 1em;
}

button.open {
    padding: 10px 40px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: 40px;
    background: rgb(70, 201, 59);
    background: linear-gradient(45deg, rgba(70, 201, 59, 1) 0%, rgba(44, 162, 132, 1) 100%);
    transition: all .3s;
    font-weight: 100;
    box-shadow: 0px 4px 27px -3px rgba(#30a879, 0.6);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 20px 27px -3px rgba(#30a879, 0.6);
    }

    &:active {
        box-shadow: 0px 4px 27px -3px rgba(#30a879, 0.6);
    }
}

.page-title {
    text-align: center;
    padding: 40px 0;
    font-size: 40px;
    font-weight: 300;
    color: $primary0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: $primary;

    .line {
        width: 50%;
        margin: 50px auto 0 auto;
        height: 1px;
        background-color: #c3d2e3;
    }
}


.modal-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff0;
    transition: all .3s;
    //backdrop-filter: blur(0px);

    &.active {
        transition: all .3s;
        background-color: #fff9;
        //backdrop-filter: blur(10px);
    }
}


.modal {
    width: 400px;
    min-height: 100px;
    background-color: white;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 300vh 1200px -20px rgba(34, 60, 80, 0.2);
    border-radius: $border-radius;
    transition: all .4s;

    &.active {
        top: 50%;
        box-shadow: 0px 20px 60px -20px rgba(34, 60, 80, 0.2);
    }

    .modal-title {
        width: 100%;
        padding: 25px 25px 0 25px;
        font-size: 18px;
        color: $primary0;
        font-weight: 400;
    }

    .modal-content {
        margin: 25px 0;
        padding: 0 25px;
        color: $primary0;
        font-size: 14px;
        line-height: 20px;
        max-height: calc(100vh - 150px);
        overflow-y: scroll;
    }

    .modal-close {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 20px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background-color: white;
        border-radius: 5px;
        transform: translateX(30%) translateY(-30%);
        transition: transform .3s;
        text-align: center;
        box-shadow: 0 0 7px 0px #0000001c;

        &:hover {
            color: red;
        }
    }

    .modal-buttons {
        padding: 0 25px 25px 25px;
        text-align: center;
    }
}

// BUTTONS
.btn {
    border: 0px;
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(0);
    transition: all .3s;
    box-shadow: 0px 0px 0px -8px rgba(34, 60, 80, 0.2);

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 5px 20px -2px rgba(34, 60, 80, 0.2);
    }

    &.primary {
        color: white;
        background-color: #16c60c;
    }

    &.default {
        color: $primary;
        background-color: #ccc;
    }
}

@media (max-width: 700px) {
    .modal {
        width: calc(100% - 50px);
    }

    .modal-wrapper {
        padding: 10px 40px;
    }
}